.container {
  position: relative;
  top: 0;
  overflow: hidden;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
