@import "./variables.scss";

.table-container {
  height: calc(100vh - $toolbarHeight - 122px);
  overflow: auto;

  &.parameters {
    height: calc(100vh - $toolbarHeight - 178px);
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    thead {
      tr {
        th {
          position: sticky;
          top: 0;
          background-color: #fafafa;
          padding: 16px;
          text-align: left;
          letter-spacing: 0.05rem;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.87);
          border-top: 1px solid rgba(0, 0, 0, 0.12);
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
          text-transform: uppercase;
          z-index: 1;
        }
      }
    }

    tbody {
      tr {
        cursor: pointer;
        transition: background-color 150ms;

        &:nth-child(even) {
          background-color: rgba(0, 0, 0, 0.02);
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.08); /* Adjusted for a subtler highlight */
        }

        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }

      tr {
        td {
          padding: 16px;
          letter-spacing: 0.05rem;
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          font-size: 14px;
          color: rgba(0, 0, 0, 0.87);

          &:first-child {
            border-bottom-left-radius: 4px;
          }

          &:last-child {
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }
}
