@import "./variables.scss";

.table-container {
  height: calc(100vh - $toolbarHeight - 122px);
  overflow: auto;

  &.parameters {
    height: calc(100vh - $toolbarHeight - 178px);
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    thead {
      tr {
        th {
          position: sticky;
          top: 0;
          background-color: #fff;
          padding: 8px;
          text-align: left;
          letter-spacing: 0.05rem;
          font-size: 16px;
          color: #333;
          border-top: 1px solid #444;
          border-bottom: 1px solid #444;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          background-color: #fafafa;
          text-transform: uppercase;
        }
      }
    }

    tbody {
      tr {
        cursor: pointer;
        transition: 100ms;

        &:hover {
          background-color: #2d40411a;
        }
      }

      tr {
        td {
          padding: 8px;
          letter-spacing: 0.05rem;
          border-bottom: 1px solid #ebebeb;
        }
      }
    }
  }
}
