.title-bar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  z-index: 100;
  background-color: #fff;
  padding-bottom: 16px;

  h1 {
    color: #333;
    font-size: 28px;
  }

  button {
    width: 110px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ebebeb;
    transition: background-color 200ms, border-color 200ms, box-shadow 200ms;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    &:hover {
      background-color: rgb(224, 224, 224);
      border-color: rgba(0, 0, 0, 0.32);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    &:active {
      background-color: rgb(210, 210, 210);
      border-color: rgba(0, 0, 0, 0.54);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }
  
    &.clear-btn {
      background-color: #fff;
  
      &:hover {
        background-color: rgb(245, 245, 245);
        border-color: rgba(0, 0, 0, 0.32);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
  
      &:active {
        background-color: rgb(230, 230, 230);
        border-color: rgba(0, 0, 0, 0.54);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      }
    }
  }  
}