<div class="title-bar">
  <h1>Máscaras</h1>
  <button class="menu-item medium-text" [routerLink]="'new'">
    <span><i class="fa-solid fa-plus"></i></span>
    <span>Novo</span>
  </button>
</div>
<div class="table-container parameters">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Recurso</th>
        <th>Campo Original</th>
        <th>Máscara</th>
      </tr>
    </thead>
    <tbody>
      @for (item of fields; track item.id) {
      <tr [routerLink]="'/parameters/fields/' + item.id">
        <td class="medium-text">{{ item.id }}</td>
        <td class="medium-text">{{ item.table }}</td>
        <td class="medium-text">{{ item.field }}</td>
        <td class="medium-text">{{ item.label }}</td>
      </tr>
      } @empty {
      <tr>
        <td class="medium-text" [colSpan]="4">Sem dados a exibir</td>
      </tr>
      }
    </tbody>
  </table>
</div>
