<div class="container">
  <div class="title-bar">
    <h1>{{ title }}</h1>
  </div>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="inputs-container">
      <div class="fieldsets-container">
        <fieldset>
          <label class="medium-text fieldset-label">Papel</label>
          <app-select (createElement)="onCreateElement($event)" [label]="'Papel'" [placeholder]="'selecione o papel'"
            class="input-container" [options]="rolesArray"></app-select>
          <div class="input-container">
            <label class="light-text" for="role">Novo papel</label>
            <span><i class="fa-solid fa-pen-to-square"></i></span>
            <input #newRole [disabled]="disabled" maxlength="=100" class="medium-text" id="role" name="role" type="text"
              placeholder="nome do novo papel">
          </div>
        </fieldset>
        <fieldset>
          <label class="medium-text fieldset-label">Permissões</label>
          <div class="table-container permissions">
            <table>
              <thead>
                <tr>
                  <th>Recurso</th>
                  <th class="center">Ler dados</th>
                  <th class="center">Criar dados</th>
                  <th class="center">Editar dados</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of resources; trackBy: trackById" style="cursor: default;">
                  <td class="medium-text center">{{ item.label }}</td>
                  <ng-container [formGroupName]="item.resource">
                    <td *ngFor="let action of item.permissions" class="center">
                      <label class="custom-checkbox" style="cursor: pointer;">
                        <input formControlName="{{ action.toLowerCase() }}" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
              <!-- <tbody>
                    @for (item of companiesArray; track item.company_id) {
                    <tr [routerLink]="'/companies/' + item.company_id">
                      <td class="medium-text">{{ item.company_id }}</td>
                      <td class="medium-text">{{ item.corporate_name }}</td>
                      <td class="medium-text">{{ item.social_name }}</td>
                      <td class="medium-text">{{ item.cnpj }}</td>
                      <td class="medium-text">{{ item.state_registration }}</td>
                      <td class="medium-text">{{ !!item.active }}</td>
                    </tr>
                    } @empty {
                    <tr>
                      <td class="medium-text" [colSpan]="6">Sem dados a exibir</td>
                    </tr>
                    }
                  </tbody>-->
            </table>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="form-actions">
      <button class="medium-text clear-btn" type="button" [disabled]="form.pristine">
        <span><i class="fa-solid fa-eraser"></i></span>
        @if(this.command === 'new'){ <span>Limpar</span> } @else {
        <span>Desfazer</span> }
      </button>
      <button class="medium-text" type="submit" [disabled]="!form.valid || form.pristine">
        <span><i class="fa-solid fa-floppy-disk"></i></span>
        <span>Salvar</span>
      </button>
    </div>
  </form>
</div>

<pre>
  {{form.value | json}}
</pre>