<div class="container">
  <div class="title-bar">
    <h1>Usuários</h1>
    <button class="menu-item medium-text" (click)="navigateTo({ action: 'new' })">
      <span><i class="fa-solid fa-plus"></i></span>
      <span>Novo</span>
    </button>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Nome</th>
          <th>Username</th>
          <th>Ativo</th>
          <th>Papel</th>
          <th>Criado em</th>
        </tr>
      </thead>
      <tbody>
        @for (item of usersArray; track $index) {
        <tr (click)="navigateTo({ company_id: item.company_id, user_id: item.user_id})">
          <td class="medium-text">{{ item.corporate_name }}</td>
          <td class="medium-text">{{ item.name }}</td>
          <td class="medium-text">{{ item.username }}</td>
          <td class="medium-text">{{ item.active }}</td>
          <td class="medium-text">{{ item.role_name }}</td>
          <td class="medium-text">{{ item.created_at }}</td>
        </tr>
        } @empty {
        <tr>
          <td class="medium-text" [colSpan]="7">Sem dados a exibir</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
