<div class="container">
  <div class="title-bar">
    <h1>Usuários</h1>
    <button class="menu-item medium-text" [routerLink]="'new'">
      <span><i class="fa-solid fa-plus"></i></span>
      <span>Novo</span>
    </button>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Nome</th>
          <th>Username</th>
          <th>Ativo</th>
          <th>Empresa</th>
          <th>Papel</th>
          <th>Criado em</th>
        </tr>
      </thead>
      <tbody>
        @for (item of usersArray; track item.id) {
        <tr>
          <td class="medium-text">{{ item.id }}</td>
          <td class="medium-text">{{ item.name }}</td>
          <td class="medium-text">{{ item.username }}</td>
          <td class="medium-text">{{ item.active }}</td>
          <td class="medium-text">{{ item.company }}</td>
          <td class="medium-text">{{ item.role }}</td>
          <td class="medium-text">{{ item.created_at }}</td>
        </tr>
        } @empty {
        <tr>
          <td class="medium-text" [colSpan]="7">Se dados a exibir</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>