<div class="container">
  <div class="title-bar">
    <h1>{{ title }}</h1>
  </div>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="inputs-container">
      <div class="fieldsets-container">
        <fieldset>
          <label class="medium-text fieldset-label">Empresa e Papel</label>
          <div class="input-container">
            <app-select [currOption]="currentCompany" (emitCurrentOption)="setCurrentOption($event, 'company_id')"
              [label]="'Selecione uma empresa'" [options]="companiesOptions"></app-select>
          </div>
          <div class="input-container">
            <app-select [currOption]="currentRole" (emitCurrentOption)="setCurrentOption($event, 'role_id')"
              [label]="'Selecione um papel'" [options]="rolesOptions"></app-select>
          </div>
          <div class="input-container">
            <app-select [currOption]="currentActive" (emitCurrentOption)="setCurrentOption($event, 'active')"
              [label]="'Usuário ativo?'" [options]="active"></app-select>
          </div>
        </fieldset>
        <fieldset>
          <label class="medium-text fieldset-label">Pessoa</label>
          <div class="input-container">
            <label class="light-text" for="name">Nome</label>
            <span><i class="fa-solid fa-pen-to-square"></i></span>
            <input formControlName="name" class="medium-text" id="name" name="name" type="text" placeholder="nome">
          </div>
        </fieldset>
        <fieldset>
          <label class="medium-text fieldset-label">Acesso</label>
          <div class="input-container">
            <label class="light-text" for="username">Username</label>
            <span><i class="fa-solid fa-pen-to-square"></i></span>
            <input formControlName="username" class="medium-text" id="username" name="username" type="text"
              placeholder="username">
          </div>
          <div class="input-container">
            <label class="light-text" for="password">Senha</label>
            <span><i class="fa-solid fa-pen-to-square"></i></span>
            <input formControlName="password" class="medium-text" id="password" name="password" type="text"
              placeholder="password">
          </div>
        </fieldset>
      </div>
    </div>
    <div class="form-actions">
      <button class="medium-text clear-btn" type="button" [disabled]="form.pristine">
        <span><i class="fa-solid fa-eraser"></i></span>
        @if(this.command === 'new'){ <span>Limpar</span> }
        @else { <span>Desfazer</span> }
      </button>
      <button class="medium-text" type="submit" [disabled]="!form.valid || form.pristine">
        <span><i class="fa-solid fa-floppy-disk"></i></span>
        <span>Salvar</span>
      </button>
    </div>
  </form>
</div>

<div style="display: flex; flex-direction: column;">
  <pre>
    <h2>current</h2>
    {{ currentValues | json }}
  </pre>
</div>
