<div class="container">
  <div class="title-bar">
    <h1>Editar Cliente</h1>
  </div>
  <form>
    <div class="inputs-container">
      <fieldset>
        <label class="medium-text fieldset-label">Dados pessoais</label>
        <div class="input-container">
          <label class="light-text" for="firstName">Primeiro Nome</label>
          <span><i class="fa-solid fa-pen-to-square"></i></span>
          <input class="medium-text" id="firstName" name="firstName" type="text" placeholder="primeiro nome">
        </div>
        <div class="input-container">
          <label class="light-text" for="firstName">Nome do Meio</label>
          <span><i class="fa-solid fa-pen-to-square"></i></span>
          <input class="medium-text" id="firstName" name="firstName" type="text" placeholder="nome do meio">
        </div>
        <div class="input-container">
          <label class="light-text" for="firstName">Último Nome</label>
          <span><i class="fa-solid fa-pen-to-square"></i></span>
          <input class="medium-text" id="firstName" name="firstName" type="text" placeholder="último nome">
        </div>
        <div class="input-container">
          <label class="light-text" for="firstName">Cpf</label>
          <span><i class="fa-solid fa-id-card"></i></span>
          <input class="medium-text" id="firstName" name="firstName" type="text" placeholder="cpf">
        </div>
        <div class="input-container">
          <label class="light-text" for="birthDate">Data de Nascimento</label>
          <span><i class="fa-regular fa-calendar"></i></span>
          <input class="medium-text" id="birthDate" name="birthDate" type="date">
        </div>
      </fieldset>
      <fieldset>
        <label class="medium-text fieldset-label">Endereço</label>
        <div class="input-container">
          <label class="light-text" for="firstName">Primeiro Nome</label>
          <span><i class="fa-solid fa-pen-to-square"></i></span>
          <input class="medium-text" id="firstName" name="firstName" type="text" placeholder="primeiro nome">
        </div>
        <div class="input-container">
          <label class="light-text" for="firstName">Nome do Meio</label>
          <span><i class="fa-solid fa-pen-to-square"></i></span>
          <input class="medium-text" id="firstName" name="firstName" type="text" placeholder="nome do meio">
        </div>
        <div class="input-container">
          <label class="light-text" for="firstName">Último Nome</label>
          <span><i class="fa-solid fa-pen-to-square"></i></span>
          <input class="medium-text" id="firstName" name="firstName" type="text" placeholder="último nome">
        </div>
        <div class="input-container">
          <label class="light-text" for="firstName">Cpf</label>
          <span><i class="fa-solid fa-id-card"></i></span>
          <input class="medium-text" id="firstName" name="firstName" type="text" placeholder="cpf">
        </div>
        <div class="input-container">
          <label class="light-text" for="birthDate">Data de Nascimento</label>
          <span><i class="fa-regular fa-calendar"></i></span>
          <input class="medium-text" id="birthDate" name="birthDate" type="date">
        </div>
      </fieldset>
      <fieldset>
        <label class="medium-text fieldset-label">Contato</label>
        <div class="input-container">
          <label class="light-text" for="firstName">Primeiro Nome</label>
          <span><i class="fa-solid fa-pen-to-square"></i></span>
          <input class="medium-text" id="firstName" name="firstName" type="text" placeholder="primeiro nome">
        </div>
        <div class="input-container">
          <label class="light-text" for="firstName">Nome do Meio</label>
          <span><i class="fa-solid fa-pen-to-square"></i></span>
          <input class="medium-text" id="firstName" name="firstName" type="text" placeholder="nome do meio">
        </div>
        <div class="input-container">
          <label class="light-text" for="firstName">Último Nome</label>
          <span><i class="fa-solid fa-pen-to-square"></i></span>
          <input class="medium-text" id="firstName" name="firstName" type="text" placeholder="último nome">
        </div>
        <div class="input-container">
          <label class="light-text" for="firstName">Cpf</label>
          <span><i class="fa-solid fa-id-card"></i></span>
          <input class="medium-text" id="firstName" name="firstName" type="text" placeholder="cpf">
        </div>
        <div class="input-container">
          <label class="light-text" for="birthDate">Data de Nascimento</label>
          <span><i class="fa-regular fa-calendar"></i></span>
          <input class="medium-text" id="birthDate" name="birthDate" type="date">
        </div>
      </fieldset>
    </div>
    <div class="form-actions">
      <button class="medium-text clear-btn">
        <span><i class="fa-solid fa-eraser"></i></span>
        <span>Limpar</span>
      </button>
      <button class="medium-text">
        <span><i class="fa-solid fa-floppy-disk"></i></span>
        <span>Salvar</span>
      </button>
    </div>
  </form>
</div>