<div class="container">
  <div class="title-bar">
    <h1>Clientes</h1>
    <button class="menu-item medium-text">
      <span><i class="fa-solid fa-plus"></i></span>
      <span>Novo</span>
    </button>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>campo1</th>
          <th>campo2</th>
          <th>campo3</th>
          <th>Data de entrada</th>
          <th>Data de término</th>
        </tr>
      </thead>
      <tbody>
        <tr [routerLink]="'1'">
          <td class="medium-text">1</td>
          <td class="medium-text">asdasd</td>
          <td class="medium-text">qweqweqwe</td>
          <td class="medium-text">33ggg23</td>
          <td class="medium-text">2021-12-12 00:00:00</td>
          <td class="medium-text">2021-12-12 00:00:00</td>
        </tr>
        <tr [routerLink]="'2'">
          <td class="medium-text">1</td>
          <td class="medium-text">asdasd</td>
          <td class="medium-text">qweqweqwe</td>
          <td class="medium-text">33ggg23</td>
          <td class="medium-text">2021-12-12 00:00:00</td>
          <td class="medium-text">2021-12-12 00:00:00</td>
        </tr>
        <tr [routerLink]="'3'">
          <td class="medium-text">1</td>
          <td class="medium-text">asdasd</td>
          <td class="medium-text">qweqweqwe</td>
          <td class="medium-text">33ggg23</td>
          <td class="medium-text">2021-12-12 00:00:00</td>
          <td class="medium-text">2021-12-12 00:00:00</td>
        </tr>
        <tr [routerLink]="'4'">
          <td class="medium-text">1</td>
          <td class="medium-text">asdasd</td>
          <td class="medium-text">qweqweqwe</td>
          <td class="medium-text">33ggg23</td>
          <td class="medium-text">2021-12-12 00:00:00</td>
          <td class="medium-text">2021-12-12 00:00:00</td>
        </tr>
        <tr [routerLink]="'5'">
          <td class="medium-text">1</td>
          <td class="medium-text">asdasd</td>
          <td class="medium-text">qweqweqwe</td>
          <td class="medium-text">33ggg23</td>
          <td class="medium-text">2021-12-12 00:00:00</td>
          <td class="medium-text">2021-12-12 00:00:00</td>
        </tr>
        <tr [routerLink]="'6'">
          <td class="medium-text">1</td>
          <td class="medium-text">asdasd</td>
          <td class="medium-text">qweqweqwe</td>
          <td class="medium-text">33ggg23</td>
          <td class="medium-text">2021-12-12 00:00:00</td>
          <td class="medium-text">2021-12-12 00:00:00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>