<div class="container">
  <div class="title-bar">
    @if(customerType() === 'legal') { <h1>Clientes Jurídicos</h1> }
    @else { <h1>Clientes Físicos</h1> }
    <button class="menu-item medium-text" (click)="navigateTo({ type: customerType(), action: 'new' })">
      <span><i class="fa-solid fa-plus"></i></span>
      <span>Novo</span>
    </button>
  </div>
  <div class="table-container">
    @if(customerType() === 'legal') {
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Empresa</th>
          <th>Razão Social</th>
          <th>Nome Fantasia</th>
          <th>Cnpj</th>
          <th>Inscrição Estadual</th>
        </tr>
      </thead>
      <tbody>
        @for (item of customersArray; track $index) {
        <tr (click)="navigateTo({ type: customerType(), company_id: item.company_id, person_id: item.person_id })">
          <td class="medium-text">{{ item.person_id }}</td>
          <td class="medium-text">{{ item.company_name }}</td>
          <td class="medium-text">{{ item.corporate_name }}</td>
          <td class="medium-text">{{ item.social_name }}</td>
          <td class="medium-text">{{ item.cnpj }}</td>
          <td class="medium-text">{{ item.state_registration }}</td>
        </tr>
        } @empty { <tr>
          <td class="medium-text" [colSpan]="6">Sem dados a exibir</td>
        </tr> }
      </tbody>
    </table>
    }@else {
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Primeiro nome</th>
          <th>Nome do meio</th>
          <th>último nome</th>
          <th>Cpf</th>
        </tr>
      </thead>
      <tbody>
        @for (item of customersArray; track $index) {
        <tr [routerLink]="customerType() + '/' + item.person_id">
          <td class="medium-text">{{ item.person_id }}</td>
          <td class="medium-text">{{ item.company_name }}</td>
          <td class="medium-text">{{ item.first_name }}</td>
          <td class="medium-text">{{ item.middle_name }}</td>
          <td class="medium-text">{{ item.last_name }}</td>
          <td class="medium-text">{{ item.cpf }}</td>
        </tr>
        } @empty {
        <tr>
          <td class="medium-text" [colSpan]="6">Sem dados a exibir</td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>
