<div class="container">
  <div class="title-bar">
    <h1>Empresas</h1>
    <button class="menu-item medium-text" [routerLink]="'new'">
      <span><i class="fa-solid fa-plus"></i></span>
      <span>Novo</span>
    </button>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Nome</th>
          <th>Cnpj</th>
        </tr>
      </thead>
      <tbody>
        @for (item of companiesArray; track item.id) {
        <tr>
          <td class="medium-text">{{ item.id }}</td>
          <td class="medium-text">{{ item.company_name }}</td>
          <td class="medium-text">{{ item.cnpj }}</td>
        </tr>
        } @empty {
        <tr>
          <td class="medium-text" [colSpan]="3">Sem dados a exibir</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>