.container {

  padding: 8px 16px 0 16px;

  .title-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    h1 {
      color: #000;
      font-size: 28px;
    }
  }

  .table-container {
    padding: 32px 32px 0 32px;
    table {
      width: 100%;
      border-collapse: collapse;
  
      thead {
        tr {
          th {
            padding: 8px 8px 0;
            text-align: left;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 8px 8px 0;
            border-bottom: 1px solid #ebebeb;
          }
        }
      }
    }
  }
}