:host {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 0, 0.164);
  z-index: 1000;

  dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 50vh;
    width: 80%;
  }
}