<label class="light-text">{{ label() }}</label>
<span><i [class]="currentState()? 'fa-solid fa-chevron-up': 'fa-solid fa-chevron-down'"></i></span>
<input readonly class="medium-text" (click)="openOrClose()" [placeholder]="placeholder()"
  [value]="currentOption()?.label" />
@if(currentState()){
<div class="menu-container" [@conditionalTrigger]="currentState() ? 'shown' : 'notshown'"
  [appOutSideClick]="currentState()" (outSideClick)="openOrClose(false)">
  <ul>
    @for(option of options(); track option.id) {
    <li (click)="setOption(option)" (click)="openOrClose(false)">{{ option.label }}</li>
    }
  </ul>
</div>
}
