:host {

  width: 100%;

  aside {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    width: inherit;

    .search {
      position: relative;
      display: flex;
      align-items: center;

      span {
        position: absolute;
      }

      input {
        border: none;
        outline: none;
        padding: 8px 8px 8px 24px;
        width: inherit;
        border-bottom: 1px solid #ebebeb;
      }
    }
  }
}