@import '../../styles/variables.scss';

:host {

  width: 100%;
  height: calc(100vh - $toolbarHeight - ($pad16 * 2));

  aside {
    background-color: #fff;
    border-radius: 8px;
    padding: $pad16;
    height: 100%;
    width: inherit;

    .search {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;

      span {
        position: absolute;
      }

      input {
        border: none;
        outline: none;
        padding: 8px 8px 8px 24px;
        width: inherit;
        border-bottom: 1px solid #ebebeb;
      }
    }
  }
}