<aside>
  <!-- <h1>
    <span><i class='fa-solid fa-filter'></i></span>
    <span>Filtros</span>
  </h1> -->
  <form>
    @for(item of formFields; track item.id){
      <div class="input-container">
        @switch (item.type) {
          @case ('text') {
            <input class="medium-text" [type]="item.type" [placeholder]="item.placeholder">
          }
          @case ('select') {
            <select #customerType name="customerType" id="customerType" (change)="onSelect(customerType.value)">
              @for(el of item.options; track el.id){
                <option [disabled]="el.disabled" class="medium-text" [value]="el.value" [selected]="currCustomerType === el.value">{{ el.label }}</option>
              }
            </select>
          }
          @default {
            <span>não aparecer nada</span>
          }
        }
      </div>
    }
  </form>
</aside>