<aside>
  <!-- <h1>
    <span><i class='fa-solid fa-filter'></i></span>
    <span>Filtros</span>
  </h1> -->
  <form>
    <fieldset>
      <label class="fieldset-label">Filtros</label>
      @for(item of formFields; track item.id){
        @switch (item.type) {
          @case ('text') {
          <div class="input-container">
            <span><i class="fa-solid fa-magnifying-glass"></i></span>
            <input id="search" class="medium-text" [type]="item.type" [placeholder]="item.placeholder">
          </div>
          }
          @case ('select') {
          <div class="input-container">
            <select class="medium-text" id="typeOfCustomer" #customerType name="customerType" id="customerType"
              (change)="onSelect(customerType.value)">
              @for(el of item.options; track el.id){
              <option [disabled]="el.disabled" class="medium-text" [value]="el.value"
                [selected]="currCustomerType === el.value">{{ el.label }}</option>
              }
            </select>
          </div>
          }
          @default {
          <span>não aparecer nada</span>
          }
        }
      }
    </fieldset>
  </form>
</aside>