@import "../../styles/variables.scss";

:host {
  width: 100%;
  height: calc(100vh - $toolbarHeight - ($pad16 * 2));

  aside {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    padding: $pad16;
    height: 100%;
    width: inherit;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
      display: flex;
      gap: 8px;

      span {
        color: #333;
        font-size: 28px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      background-color: #fff;
      border-radius: 8px;
      width: 100%;

      fieldset {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        gap: 3vmin;
        margin-top: 8px;
        background-color: #fafafa;

        .fieldset-label {
          position: absolute;
          padding: 0px 8px;
          top: -14px;
          background-color: #fafafa;
          font-weight: bold;
          z-index: 999;
          color: rgb(65, 127, 148);
        }

        .input-container {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 8px;

          input {
            outline: none;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            padding: 8px 8px 8px 34px;
            transition: border-bottom 200ms, background-color 200ms;
            letter-spacing: 0.06em;
            background-color: #fff;
            width: 100%;

            &:focus {
              box-shadow: inset 0 -2px 0 0 rgb(42, 82, 95);
              background-color: rgba(0, 0, 0, 0.05);
            }
          }

          span {
            position: absolute;
            top: 25%;
            left: 8px;
            color: rgba(180, 180, 180, 0.87);
            transition: color 200ms;
          }

          &:focus-within span {
            color: rgb(65, 127, 148);
          }
        }
      }
    }
  }
}
