@import '../../styles/variables.scss';

.sidenav-container {
  position: relative;
  width: 100%;

  .principal-container {
    display: flex;
    position: relative;
    height: calc(100vh - $toolbarHeight);
    background-color: rgb(238, 242, 243);
    padding: $pad16;
    width: 100%;

    app-aside {
      width: $asideWidth;
    }

    .resource-container {
      position: absolute;
      overflow: auto;
      height: calc(100vh - $toolbarHeight - ($pad16 * 2));
      width: calc(100% - ($pad16 * 4));
      padding: $pad16;
      border-radius: 8px;
      background-color: #fff;
      transition: 100ms ease-in;
      top: $pad16;
      margin: 0 $pad16;
    }

    .small {
      left: calc($asideWidth + $pad16);
      background-color: #fff;
      width: calc(100% - $asideWidth - ($pad16 * 3));
    }

    .large {
      left: 0;
      border-radius: 8px;
      width: calc(100% - ($pad16 * 2));
    }
  }
}