@import '../../styles/variables.scss';

.sidenav-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  app-toolbar {
    position: sticky;
    top: 0;
    left: 0;
  }

  .principal-container {
    display: flex;
    gap: 16px;
    position: relative;
    height: calc(100vh - $toolbarHeight);
    background-color: rgb(238, 242, 243);
    padding: 16px;
    width: 100%;

    main {
      width: 100%;
    }
  }
}