<div class="toolbar-top">
  <h2>compound</h2>
  <div class="toolbar-top-menu">
    <button class="menu-item medium-text">Wealth</button>
    <button class="menu-item medium-text">Team</button>
    <button class="menu-item medium-text">Vault</button>
  </div>
  <div class="user-menu">
    <div class="circle">
      <span class="medium-text">FP</span>
    </div>
    <span class="icon">ic</span>
  </div>
</div>
<div class="toolbar-down">
  <div class="menu-item">
    <div class="menu-item medium-text">Accounts</div>
    <div class="menu-item medium-text">Transations</div>
    <div class="menu-item medium-text">Flow</div>
  </div>
  <button>Add</button>
</div>