@import "../../styles/variables.scss";

:host {
  display: flex;
  flex-direction: column;
  height: $toolbarHeight;
  z-index: 100;

  .toolbar-top,
  .toolbar-down {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  .toolbar-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 32px;
    background-color: #fafafa;

    h2 {
      display: flex;
      gap: 16px;
      color: rgb(42, 82, 95);
      flex: 1;
      text-wrap: nowrap;
    }

    div.toolbar-top-menu {
      display: flex;
      justify-content: center;
      flex: 1;
      gap: 16px;

      button {
        width: 110px;
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        padding: 10px 20px;
        cursor: pointer;
        background: rgb(42, 82, 95); // Cor de fundo principal
        color: #fff;
        transition: background-color 200ms, border-color 200ms, box-shadow 200ms, transform 100ms;
        height: 40px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      
        &:hover {
          background: rgb(86, 159, 184); // Cor de fundo ao passar o mouse
          border-color: rgba(0, 0, 0, 0.32);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
      
        &:active {
          background: rgb(20, 41, 47); // Cor de fundo ao clicar
          border-color: rgba(0, 0, 0, 0.54);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
          transform: scale(0.98); // Efeito de "pressionar" ao clicar
        }
      
        &:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(42, 82, 95, 0.5); // Efeito de foco
        }
      }      
    }

    div.user-menu-container {
      flex: 1;
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 60px;
      align-items: center;
      gap: 8px;

      .user-menu-btn {
        display: flex;
        gap: 8px;
        align-items: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
      
        .circle {
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgb(42, 82, 95);  // Cor de fundo principal
          border-radius: 50%;
          min-width: 41px;
          min-height: 41px;
          color: #fff;
          transition: background-color 200ms, box-shadow 200ms, transform 100ms;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          cursor: pointer;
      
          &:hover {
            background-color: rgb(86, 159, 184);  // Cor de fundo ao passar o mouse
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }
      
          &:active {
            background-color: rgb(20, 41, 47);  // Cor de fundo ao clicar
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            transform: scale(0.95);  // Efeito de "pressionar" ao clicar
          }
      
          &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(42, 82, 95, 0.5);  // Efeito de foco
          }
        }
      }
      

      .menu-container {
        position: absolute;
        top: 48px;
        right: 0;
        width: 200px;
        background-color: #fff;
        border-radius: 8px;
        z-index: 200;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        border: 1px solid #d4d4d4;
        transition: opacity 200ms, visibility 200ms;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            position: relative;
            cursor: pointer;
            font-size: 16px;
            padding: 14px 16px;
            display: flex;
            gap: 8px;
            align-items: center;
            transition: background-color 200ms;
            color: rgb(42, 82, 95);

            &:hover {
              background-color: #f0f0f0;
            }

            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: rgb(42, 82, 95);
              visibility: hidden;
              transform: scaleX(0);
              transition: all 0.3s ease-in-out;
            }

            &:hover::before {
              visibility: visible;
              transform: scaleX(1);
            }

            span {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }

  .toolbar-down {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    height: 56px;

    nav {
      display: flex;
      align-items: center;
      height: 56px;
      width: 100%;

      ul {
        position: relative;
        display: flex;
        list-style: none;
        height: inherit;
        gap: 32px;
        width: 100%;

        li {
          position: relative;
          display: flex;
          align-items: center;
          gap: 8px;
          cursor: pointer;
          color: #5f5f5f;
          height: inherit;

          &.active {
            color: rgb(42, 82, 95);
          }

          &.active::before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            background-color: rgb(42, 82, 95);
          }

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #000;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }

          &:hover::before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
        }
      }
    }

    .back-btn {
      height: 100%;
      background-color: #fff;
      border: none;
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      color: #5f5f5f;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }

      &:hover::before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }
}
