<div class="toolbar-top">
  <h2>Nome da Empresa</h2>
  <div class="toolbar-top-menu">
    <button class="menu-item medium-text">
      <span>
        <i class="fa-solid fa-filter"></i>
      </span>
      <span>Filtros</span>
    </button>
    <!-- <button class="menu-item medium-text">Team</button>
    <button class="menu-item medium-text">Vault</button> -->
  </div>
  <div class="user-menu">
    <div class="circle">
      <span class="medium-text">FP</span>
    </div>
    <span class="icon">ic</span>
  </div>
</div>

<div class="toolbar-down">
  <div class="menu-item">
    <div class="menu-item medium-text">Home</div>
    <div class="menu-item medium-text">Clientes</div>
    <div class="menu-item medium-text">Pedidos</div>
    <div class="menu-item medium-text">Produtos</div>
  </div>
  <button>
    <span>
      <i class="fa-solid fa-arrow-left"></i>
    </span>
    <span>Voltar</span>
  </button>
</div>