:host {
  display: flex;
  flex-direction: column;

  .toolbar-top,
  .toolbar-down {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
  }

  .toolbar-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 32px;

    h2 {
      flex: 1;
    }

    div.toolbar-top-menu {
      display: flex;
      justify-content: center;
      flex: 1;
      gap: 16px;
      button {
        border-radius: 20px;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }
    }

    div.user-menu {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      width: 60px;
      align-items: center;
      cursor: pointer;
      gap: 8px;

      .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        background: lightblue;
        border-radius: 50%;
        min-width: 35px;
        min-height: 35px;
      }
    }
  }

  .toolbar-down {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    height: 56px;

    div.menu-item {
      display: flex;
      align-items: center;
      gap: 16px;
      height: 56px;

      div.menu-item {
        position: relative;
        height: 56px;
        cursor: pointer;
        color: #5f5f5f;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #000;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover::before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }

    button {
      min-width: 60px;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 6px;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}