<div class="toolbar-top">
  <h2>Nome da Empresa</h2>
  <div class="toolbar-top-menu">
    <button class="menu-item medium-text">
      <span>
        <i class="fa-solid fa-filter"></i>
      </span>
      <span>Filtros</span>
    </button>
  </div>
  <div class="user-menu">
    <div class="circle">
      <span class="medium-text">FP</span>
    </div>
    <span>
      <i class="fa-solid fa-chevron-down"></i>
    </span>
  </div>
</div>

<div class="toolbar-down">
  <div class="menu-item">
    <div class="menu-item medium-text" routerLink="home" routerLinkActive="active">
      <span><i class="fa-solid fa-house"></i></span>
      <span>Home</span>
    </div>
    <div class="menu-item medium-text" routerLink="customers" routerLinkActive="active">
      <span><i class="fa-solid fa-user-group"></i></span>
      <span>Clientes</span>
    </div>
    <div class="menu-item medium-text" routerLink="orders" routerLinkActive="active">
      <span><i class="fa-solid fa-list"></i></span>
      <span>Pedidos</span>
    </div>
    <div class="menu-item medium-text">
      <span><i class="fa-solid fa-box"></i></span>
      <span>Produtos</span>
    </div>
  </div>
  <button>
    <span>
      <i class="fa-solid fa-arrow-left"></i>
    </span>
    <span>Voltar</span>
  </button>
</div>