<div class="title-bar">
  <h1>Status do Produto</h1>
  <button class="menu-item medium-text">
    <span><i class="fa-solid fa-plus"></i></span>
    <span>Novo</span>
  </button>
</div>
<div class="table-container parameters">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Razão Social</th>
        <th>Nome Fantasia</th>
        <th>Cnpj</th>
        <th>Inscrição Estadual</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <tr>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
        <td class="medium-text">a</td>
      </tr>
      <!-- @for (item of rolesArray; track item.person_id) {
      <tr>
        <td class="medium-text">{{ item.person_id }}</td>
        <td class="medium-text">{{ item.corporate_name }}</td>
        <td class="medium-text">{{ item.social_name }}</td>
        <td class="medium-text">{{ item.cnpj }}</td>
        <td class="medium-text">{{ item.state_registration }}</td>
      </tr>
      } @empty {
      <tr>
        <td class="medium-text" [colSpan]="5">Se dados a exibir</td>
      </tr>
      } -->
    </tbody>
  </table>
</div>